<settings>
	<setting propertyKey="@Properties.AppVersion" title="@Strings.AppNameVersion">
		<settingConfig type="alphaNumeric" readonly="true"/>
	</setting>

    <setting propertyKey="@Properties.enhancedTouch" title="@Strings.setting_enhancedTouch">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.useTouch" title="@Strings.setting_useTouch">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.quickReturn" title="@Strings.setting_quickReturn">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.askWakeVehicle" title="@Strings.setting_askWakeVehicle">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.titleScrolling" title="@Strings.setting_titleScrolling">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.smallfontsize" title="@Strings.setting_smallfontsize">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.scrollclearsedge" title="@Strings.setting_scrollclearsedges">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.WarnWhenPhoneNotConnected" title="@Strings.setting_WarnWhenPhoneNotConnected">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.vehicleNameGlance" title="@Strings.setting_showVehicleNameInGlance">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.CrystalTesla" title="@Strings.setting_CrystalTesla">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.batteryRangeType" title="@Strings.setting_batteryRangeType">
        <settingConfig type="list">
            <listEntry value="0">@Strings.menu_label_battery_range</listEntry>
            <listEntry value="1">@Strings.menu_label_est_battery_range</listEntry>
            <listEntry value="2">@Strings.menu_label_ideal_battery_range</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.swap_frunk_for_port" title="@Strings.setting_defaultUpperLeft">
        <settingConfig type="list">
            <listEntry value="0">@Strings.menu_label_open_frunk</listEntry>
            <listEntry value="1">@Strings.menu_label_open_trunk</listEntry>
            <listEntry value="2">@Strings.menu_label_open_port</listEntry>
            <listEntry value="3">@Strings.menu_label_popUpMenu</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HansshowFrunk" title="@Strings.setting_HansshowFrunk">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.screenBottomLeft" title="@Strings.setting_screenBottomLeft">
        <settingConfig type="list">
            <listEntry value="0">@Strings.menu_label_set_charging_limit</listEntry>
            <listEntry value="1">@Strings.menu_label_set_charging_amps</listEntry>
            <listEntry value="2">@Strings.menu_label_set_temp</listEntry>
            <listEntry value="3">@Strings.menu_label_remote_start</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.screenBottomRight" title="@Strings.setting_screenBottomRight">
        <settingConfig type="list">
            <listEntry value="0">@Strings.menu_label_set_charging_limit</listEntry>
            <listEntry value="1">@Strings.menu_label_set_charging_amps</listEntry>
            <listEntry value="2">@Strings.menu_label_set_temp</listEntry>
            <listEntry value="3">@Strings.menu_label_remote_start</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.complicationAction" title="@Strings.setting_complicationAction">
        <settingConfig type="list">
            <listEntry value="1">@Strings.menu_label_open_frunk</listEntry>
            <listEntry value="2">@Strings.menu_label_open_trunk</listEntry>
            <listEntry value="3">@Strings.menu_label_open_port</listEntry>
            <listEntry value="4">@Strings.menu_label_vent</listEntry>
            <listEntry value="5">@Strings.menu_label_climate</listEntry>
            <listEntry value="6">@Strings.menu_label_toggle_lock</listEntry>
            <listEntry value="7">@Strings.menu_label_lock</listEntry>
            <listEntry value="8">@Strings.menu_label_unlock</listEntry>
            <listEntry value="0">@Strings.menu_label_none</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.holdActionUpperLeft" title="@Strings.setting_holdActionUpperLeft">
        <settingConfig type="list">
            <listEntry value="1">@Strings.menu_label_open_frunk</listEntry>
            <listEntry value="2">@Strings.menu_label_open_trunk</listEntry>
            <listEntry value="3">@Strings.menu_label_open_port</listEntry>
            <listEntry value="4">@Strings.menu_label_vent</listEntry>
            <listEntry value="0">@Strings.menu_label_none</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.holdActionUpperRight" title="@Strings.setting_holdActionUpperRight">
        <settingConfig type="list">
            <listEntry value="1">@Strings.menu_label_defrost</listEntry>
            <listEntry value="0">@Strings.menu_label_none</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.holdActionLowerLeft" title="@Strings.setting_holdActionLowerLeft">
        <settingConfig type="list">
            <listEntry value="1">@Strings.menu_label_honk</listEntry>
            <listEntry value="0">@Strings.menu_label_none</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.holdActionLowerRight" title="@Strings.setting_holdActionLowerRight">
        <settingConfig type="list">
            <listEntry value="1">@Strings.menu_label_homelink</listEntry>
            <listEntry value="2">@Strings.menu_label_remote_boombox</listEntry>
            <listEntry value="3">@Strings.menu_label_remote_start</listEntry>
            <listEntry value="0">@Strings.menu_label_none</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.optionMenuOrder" title="@Strings.setting_menu_order">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.whichAPI" title="@Strings.setting_which_api">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.setting_needConfig</listEntry>
            <listEntry value="0">@Strings.setting_tesla</listEntry>
            <listEntry value="1">@Strings.setting_tessie</listEntry>
            <listEntry value="2">@Strings.setting_teslemetry</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.useTessieCacheMode" title="@Strings.setting_useTessieCacheMode">
        <settingConfig type="boolean" required="true"/>
    </setting>

    <setting propertyKey="@Properties.refreshToken" title="@Strings.setting_token_label">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.serverAPILocation" title="@Strings.setting_api_server_location_label" prompt="@Strings.setting_server_location_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.serverAUTHLocation" title="@Strings.setting_auth_server_location_label" prompt="@Strings.setting_server_location_prompt">
        <settingConfig type="alphaNumeric" />
    </setting>
</settings>
